@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}
body {
  font-size: 1rem;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pale-blue);

  font-family: "Red Hat Display", sans-serif;
  position: relative;
}

body::after {
  content: "";
  background: url("images/pattern-background-desktop.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 80%;
  border-radius: 10px;
  overflow: hidden;
}

.img-top {
  flex: 2;
}

.content {
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 5;
}
.top-content {
  flex: 4;
}

.heading {
  text-align: center;
  margin-top: 1.5rem;
}

.paragraph {
  padding: 0 1rem;
  text-align: center;
  line-height: 1.6;
  margin-top: 1.2rem;
}

.annual {
  flex: 1;
  background-color: #fff;
  display: flex;
  margin-inline: 1rem;
  padding: 1rem;
  align-items: center;
  background-color: var(--very-pale-blue);
  border-radius: 5px;
}

.music-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.price {
  text-align: center;
}

.change-btn {
  margin-left: auto;
  background-color: transparent;
  color: var(--bright-blue);
  text-decoration: underline;
}

.change-btn:hover {
  text-decoration: none;
  opacity: 0.7;
}

.bottom-buttons {
  flex: 4;
  background-color: #fff;
}

.payment-btn {
  display: block;
  width: 90%;
  margin: 2.5rem auto;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: bolder;
  background-color: var(--bright-blue);
  color: #fff;
  text-align: center;
}

.payment-btn:hover {
  opacity: 0.7;
}

.order-cancel-btn {
  display: block;
  text-align: center;
  width: 100%;
  background-color: transparent;
  font-weight: bolder;
  opacity: 0.7;
}

.order-cancel-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 1100px) {
  main {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 15px;
  }
  body::after {
    content: "";
    background: url("images/pattern-background-mobile.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
  }
  main {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 14px;
  }
  main {
    width: 90%;
  }
}
